<!DOCTYPE html>
<html lang="ja">
<head>
    {{- if .IsServer }}<script src="/js/livereload.js"></script>{{ end }}
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {{- with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    <title>{{ if .Title }}{{- .Title -}}{{ else }}{{ .Slug }}{{ end }}</title>
    <link rel="stylesheet" href="{{- .Css -}}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <script src="{{- .Js -}}" defer></script>
</head>
    <body>
        <header id="header">
            <a class='block-link' href="/">
                <div id="header-inner">
                    <div class="sa-icon"></div>
                    <div class="sa-icon"></div>
                    <div class="sa-icon"></div>
                </div>
            </a>
        </header>
        <main id="main">
            <article id="article">
                <header id="article-header">
                    <h1 id="page-title">{{ if .Title }}{{ .Title }}{{ else }}{{ .Slug }}{{ end }}</h1>
                </header>
                {{- .Body }}
            </article>
            {{- if .B2Page }}
            <div class="related-pages">
                <ul id="link-list" class="related-list">
                {{- $limit := 30 -}}
                {{- range $i, $val := .B2Page }}
                    {{- if lt $i $limit }}
                    <li class="related-list-item">
                        <a class="related-link" href="/{{ $val.Slug }}/">
                            <div class="content">
                                <div class="item-title">{{ $val.Title }}</div>
                                <div class="{{ if $val.Thumnail }}thumnail{{ else }}dscr{{ end }}">{{ $val.SummaryHTML }}</div>
                            </div>
                        </a>
                    </li>
                    {{- end }}
                {{- end }}
                </ul>
                {{- if gt .B2Pagelen $limit }}
                    <div id="more" data-slug="{{ .Slug }}" data-len="{{ .B2Pagelen }}" data-limit="{{- $limit -}}" class="more-wide">MORE</div>
                {{- end }}
            </div>
            {{- end }}
        </main>
        {{- template "footer" }}
    </body>
</html>
